################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Model/bin/Debug
/Model/obj/Debug
/WebTestHandler/obj/Debug
/WebTestProject/obj/Debug
/WinGenerateCodeDB/bin/Debug
/WinGenerateCodeDB/obj/Debug
/Common/bin/Debug
/.vs/WebAutoCodeOnline
/Common/obj/Debug
