<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta name="description" content="C# 在线 加密/解密 (新)" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="我要调试,51调试,51debug,C#在线代码生成器" name="Keywords" />
    <meta name="description" content="51debug是程序员的好助手，帮助各种程序员进行快速开发，提高开发效率和分享代码库" />
    <meta name="description" content="" />
    <title>我要调试 - (新)加密/解密</title>

    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="../js/bootstrap-3.3.0-dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- 可选的Bootstrap主题文件（一般不使用） -->
    <link href="../js/bootstrap-3.3.0-dist/css/bootstrap-theme.min.css" rel="stylesheet" />

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="../js/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="../js/bootstrap-3.3.0-dist/js/bootstrap.min.js"></script>

    <!-- 初始化界面js -->
    <script src="../js/load.js?20161108_2"></script>
    <!-- random rsa openssl -->
    <script src="../js/jsencrypt-master/jsencrypt.min.js"></script>
</head>
<body>
    <!-- 导航 -->
    <div id="nav"></div>

    <div class="container">
        <h2>加密/解密
        </h2>
        <div class="row">
            <p>
            </p>
            <div class="col-md-12">
                <ul id="enTab" class="nav nav-tabs">
                    <li class="active">
                        <a href="#md5" data-toggle="tab">MD5
                        </a>
                    </li>
                    <li><a href="#sha1" data-toggle="tab">SHA1</a></li>
                    <li><a href="#des" data-toggle="tab">DES</a></li>
                    <li><a href="#aes" data-toggle="tab">AES</a></li>
                    <li class="dropdown">
                        <a href="#" id="myTabDrop1" class="dropdown-toggle"
                            data-toggle="dropdown">RSA
			<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
                            <li><a href="#rsa_xml" tabindex="-1" data-toggle="tab">RSA - XML</a></li>
                            <li><a href="#rsa_openssl" tabindex="-1" data-toggle="tab">RSA - OPENSSL</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" id="A1" class="dropdown-toggle"
                            data-toggle="dropdown">XXTEA
			<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
                            <li><a href="#xxtea_normal" tabindex="-1" data-toggle="tab">XXTEA - Normal</a></li>
                            <li><a href="#xxtea_normal2" tabindex="-1" data-toggle="tab">XXTEA - Normal 2</a></li>
                            <li><a href="#xxtea_js" tabindex="-1" data-toggle="tab">XXTEA - Js</a></li>
                        </ul>
                    </li>
                </ul>
                <div id="enTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="md5">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">输入
                                </h3>
                            </div>
                            <div class="panel-body">
                                <p>
                                    <textarea id="txtInputMd5" class="form-control" rows="6"></textarea>
                                </p>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <form class="form-horizontal" role="form">
                                    <div class="col-sm-1 text-center form-group">
                                        <button onclick="dosubmit('md5');" type="button" class="btn btn-default">MD5</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">输出
                                </h3>
                            </div>
                            <div class="panel-body">
                                <p>
                                    <textarea id="txtOutputMd5" class="form-control" rows="6"></textarea>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="sha1">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">输入
                                </h3>
                            </div>
                            <div class="panel-body">
                                <p>
                                    <textarea id="txtInputSha1" class="form-control" rows="6"></textarea>
                                </p>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <form class="form-horizontal" role="form">
                                    <div class="col-sm-1 text-center form-group">
                                        <button onclick="dosubmit('sha1');" type="button" class="btn btn-default">SHA1</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">输出
                                </h3>
                            </div>
                            <div class="panel-body">
                                <p>
                                    <textarea id="txtOutputSha1" class="form-control" rows="6"></textarea>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="des">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">输入
                                </h3>
                            </div>
                            <div class="panel-body">
                                <p>
                                    <textarea id="txtInputDes" class="form-control" rows="6"></textarea>
                                </p>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <form class="form-horizontal" role="form">
                                    <div class="col-sm-8 text-center form-group">
                                        <input type="text" id="txtKeyDes" class="form-control" placeholder="密钥" />
                                    </div>
                                    <div class="col-sm-4 text-center form-group">
                                        <button onclick="dosubmit('en_des');" type="button" class="btn btn-default">加密</button>
                                        &nbsp;&nbsp;
                                        <button onclick="dosubmit('de_des');" type="button" class="btn btn-default">解密</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">输出
                                </h3>
                            </div>
                            <div class="panel-body">
                                <p>
                                    <textarea id="txtOutputDes" class="form-control" rows="6"></textarea>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="aes">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">输入
                                </h3>
                            </div>
                            <div class="panel-body">
                                <p>
                                    <textarea id="txtInputAes" class="form-control" rows="6"></textarea>
                                </p>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <form class="form-horizontal" role="form">
                                    <div class="col-sm-8 text-center form-group">
                                        <input type="text" id="txtKeyAes" class="form-control" placeholder="密钥-长度16位" />
                                    </div>
                                    <div class="col-sm-4 text-center form-group">
                                        <button onclick="dosubmit('random');" type="button" class="btn btn-default">随机密钥</button>
                                        &nbsp;&nbsp;
                                        <button onclick="dosubmit('en_aes');" type="button" class="btn btn-default">加密</button>
                                        &nbsp;&nbsp;
                                        <button onclick="dosubmit('de_aes');" type="button" class="btn btn-default">解密</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">输出
                                </h3>
                            </div>
                            <div class="panel-body">
                                <p>
                                    <textarea id="txtOutputAes" class="form-control" rows="6"></textarea>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="rsa_xml">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">公钥
                                        </h3>
                                    </div>
                                    <div class="panel-body">
                                        <p>
                                            <textarea id="txtKey_public_rsa_xml" class="form-control" rows="10"></textarea>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">私钥
                                        </h3>
                                    </div>
                                    <div class="panel-body">
                                        <p>
                                            <textarea id="txtKey_private_rsa_xml" class="form-control" rows="10"></textarea>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">输入
                                </h3>
                            </div>
                            <div class="panel-body">
                                <p>
                                    <textarea id="txtInput_rsa_xml" class="form-control" rows="6"></textarea>
                                </p>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <form class="form-horizontal" role="form">
                                    <div class="col-sm-12 text-left form-group">
                                        <button onclick="dosubmit('random_rsa_xml');" type="button" class="btn btn-default">随机私钥密钥</button>
                                        &nbsp;&nbsp;
                                        <button onclick="dosubmit('en_rsa_xml');" type="button" class="btn btn-default">加密</button>
                                        &nbsp;&nbsp;
                                        <button onclick="dosubmit('de_rsa_xml');" type="button" class="btn btn-default">解密</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">输出
                                </h3>
                            </div>
                            <div class="panel-body">
                                <p>
                                    <textarea id="txtOutput_rsa_xml" class="form-control" rows="6"></textarea>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="rsa_openssl">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">公钥
                                        </h3>
                                    </div>
                                    <div class="panel-body">
                                        <p>
                                            <textarea id="txtKey_public_rsa_openssl" class="form-control" rows="10"></textarea>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">私钥
                                        </h3>
                                    </div>
                                    <div class="panel-body">
                                        <p>
                                            <textarea id="txtKey_private_rsa_openssl" class="form-control" rows="10"></textarea>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">输入
                                </h3>
                            </div>
                            <div class="panel-body">
                                <p>
                                    <textarea id="txtInput_rsa_openssl" class="form-control" rows="6"></textarea>
                                </p>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <form class="form-horizontal" role="form">
                                    <div class="col-sm-12 text-left form-group">
                                        <select id="selectType">
                                            <option value="512">512</option>
                                            <option value="1024" selected="selected">1024</option>
                                            <option value="2048">2048</option>
                                            <option value="4096">4096</option>
                                        </select>
                                        <button id="btn_random_rsa_openssl" type="button" class="btn btn-default">随机私钥密钥</button>
                                        &nbsp;&nbsp;
                                        <button onclick="dosubmit('en_rsa_openssl');" type="button" class="btn btn-default">加密</button>
                                        &nbsp;&nbsp;
                                        <button onclick="dosubmit('de_rsa_openssl');" type="button" class="btn btn-default">解密</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">输出
                                </h3>
                            </div>
                            <div class="panel-body">
                                <p>
                                    <textarea id="txtOutput_rsa_openssl" class="form-control" rows="6"></textarea>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="xxtea_normal">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">输入
                                </h3>
                            </div>
                            <div class="panel-body">
                                <p>
                                    <textarea id="txtInput_XXTEANormal" class="form-control" rows="6"></textarea>
                                </p>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <form class="form-horizontal" role="form">
                                    <div class="col-sm-8 text-center form-group">
                                        <input type="text" id="txtKey_xxtea_normal" class="form-control" placeholder="密钥" />
                                    </div>
                                    <div class="col-sm-4 text-center form-group">
                                        <button onclick="dosubmit('random_xxtea_normal');" type="button" class="btn btn-default">随机密钥</button>
                                        &nbsp;&nbsp;
                                        <button onclick="dosubmit('en_xxtea_normal');" type="button" class="btn btn-default">加密</button>
                                        &nbsp;&nbsp;
                                        <button onclick="dosubmit('de_xxtea_normal');" type="button" class="btn btn-default">解密</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">输出
                                </h3>
                            </div>
                            <div class="panel-body">
                                <p>
                                    <textarea id="txtOutput_XXTEANormal" class="form-control" rows="6"></textarea>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="xxtea_normal2">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">输入
                                </h3>
                            </div>
                            <div class="panel-body">
                                <p>
                                    <textarea id="txtInput_XXTEANormal2" class="form-control" rows="6"></textarea>
                                </p>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <form class="form-horizontal" role="form">
                                    <div class="col-sm-8 text-center form-group">
                                        <input type="text" id="txtKey_xxtea_normal2" class="form-control" placeholder="密钥" />
                                    </div>
                                    <div class="col-sm-4 text-center form-group">
                                        <button onclick="dosubmit('en_xxtea_normal2');" type="button" class="btn btn-default">加密</button>
                                        &nbsp;&nbsp;
                                        <input type="checkbox" id="chkIsBase64" checked="checked" /><label for="chkIsBase64">解密数据结果是64位</label>
                                        &nbsp;&nbsp;
                                        <button onclick="dosubmit('de_xxtea_normal2');" type="button" class="btn btn-default">解密</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">输出
                                </h3>
                            </div>
                            <div class="panel-body">
                                <p>
                                    <textarea id="txtOutput_XXTEANormal2" class="form-control" rows="6"></textarea>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="xxtea_js">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">输入
                                </h3>
                            </div>
                            <div class="panel-body">
                                <p>
                                    <textarea id="txtInput_XXTEA_Js" class="form-control" rows="6">未实现</textarea>
                                </p>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <form class="form-horizontal" role="form">
                                    <div class="col-sm-8 text-center form-group">
                                        <input type="text" id="txtKey_xxtea_js" class="form-control" placeholder="密钥" />
                                    </div>
                                    <div class="col-sm-4 text-center form-group">
                                        <button onclick="dosubmit('en_xxtea_js');" type="button" class="btn btn-default">加密</button>
                                        &nbsp;&nbsp;
                                        <button onclick="dosubmit('de_xxtea_js');" type="button" class="btn btn-default">解密</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">输出
                                </h3>
                            </div>
                            <div class="panel-body">
                                <p>
                                    <textarea id="txtOutput_XXTEA_Js" class="form-control" rows="6"></textarea>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    function dosubmit(type) {
                        if (type == "md5") {
                            var text = encodeURI($("#txtInputMd5").val());
                            $.post("../Api.ashx",
                                { "type": "encrpty_new", "ctype": "md5", "text": text },
                                function (data) {
                                    $("#txtOutputMd5").val(data.Result);
                                }
                           , "json");
                        } else if (type == "sha1") {
                            var text = encodeURI($("#txtInputSha1").val());
                            $.post("../Api.ashx",
                                { "type": "encrpty_new", "ctype": "sha1", "text": text },
                                function (data) {
                                    $("#txtOutputSha1").val(data.Result);
                                }
                           , "json");
                        } else if (type == "en_des") {
                            var text = encodeURI($("#txtInputDes").val());
                            var key = encodeURI($("#txtKeyDes").val());
                            $.post("../Api.ashx",
                                { "type": "encrpty_new", "ctype": "en_des", "text": text, "key": key },
                                function (data) {
                                    $("#txtOutputDes").val(data.Result);
                                }
                           , "json");
                        } else if (type == "de_des") {
                            var text = encodeURI($("#txtInputDes").val());
                            var key = encodeURI($("#txtKeyDes").val());
                            $.post("../Api.ashx",
                                { "type": "encrpty_new", "ctype": "de_des", "text": text, "key": key },
                                function (data) {
                                    $("#txtOutputDes").val(data.Result);
                                }
                           , "json");
                        } else if (type == "random") {
                            $.post("../Api.ashx",
                                { "type": "encrpty_new", "ctype": "random" },
                                function (data) {
                                    $("#txtKeyAes").val(data.Result);
                                }
                           , "json");
                        } else if (type == "en_aes") {
                            var text = encodeURI($("#txtInputAes").val());
                            var key = encodeURI($("#txtKeyAes").val());
                            $.post("../Api.ashx",
                                { "type": "encrpty_new", "ctype": "en_aes", "text": text, "key": key },
                                function (data) {
                                    $("#txtOutputAes").val(data.Result);
                                }
                           , "json");
                        } else if (type == "de_aes") {
                            var text = encodeURI($("#txtInputAes").val());
                            var key = encodeURI($("#txtKeyAes").val());
                            $.post("../Api.ashx",
                                { "type": "encrpty_new", "ctype": "de_aes", "text": text, "key": key },
                                function (data) {
                                    $("#txtOutputAes").val(data.Result);
                                }
                           , "json");
                        } else if (type == "random_rsa_xml") {
                            $.post("../Api.ashx",
                                { "type": "encrpty_new", "ctype": "random_rsa_xml", "text": text, "key": key },
                                function (data) {
                                    $("#txtKey_private_rsa_xml").val(data.Result[0]);
                                    $("#txtKey_public_rsa_xml").val(data.Result[1]);
                                }
                           , "json");
                        } else if (type == "en_rsa_xml") {
                            var public_key = encodeURI($("#txtKey_public_rsa_xml").val());
                            var text = encodeURI($("#txtInput_rsa_xml").val());
                            $.post("../Api.ashx",
                                { "type": "encrpty_new", "ctype": "en_rsa_xml", "text": text, "key": public_key },
                                function (data) {
                                    $("#txtOutput_rsa_xml").val(data.Result);
                                }
                           , "json");
                        } else if (type == "de_rsa_xml") {
                            var text = encodeURI($("#txtInput_rsa_xml").val());
                            var private_key = encodeURI($("#txtKey_private_rsa_xml").val());
                            $.post("../Api.ashx",
                                { "type": "encrpty_new", "ctype": "de_rsa_xml", "text": text, "key": private_key },
                                function (data) {
                                    $("#txtOutput_rsa_xml").val(data.Result);
                                }
                           , "json");
                        } else if (type == "en_rsa_openssl") {
                            var public_key = $("#txtKey_public_rsa_openssl").val();
                            var text = $("#txtInput_rsa_openssl").val();
                            var encrypt = new JSEncrypt();
                            encrypt.setPublicKey(public_key);
                            var encrypted = encrypt.encrypt(text);

                            $("#txtOutput_rsa_openssl").val(encrypted);
                        } else if (type == "de_rsa_openssl") {
                            var text = $("#txtInput_rsa_openssl").val();
                            var private_key = $("#txtKey_private_rsa_openssl").val();

                            var decrypt = new JSEncrypt();
                            decrypt.setPrivateKey(private_key);
                            var uncrypted = decrypt.decrypt(text);

                            $("#txtOutput_rsa_openssl").val(uncrypted);
                        } else if (type == "random_xxtea_normal") {
                            $.post("../Api.ashx",
                                { "type": "encrpty_new", "ctype": "random_xxtea_normal" },
                                function (data) {
                                    $("#txtKey_xxtea_normal").val(data.Result);
                                }
                           , "json");
                        } else if (type == "en_xxtea_normal") {
                            var text = encodeURI($("#txtInput_XXTEANormal").val());
                            var key = encodeURI($("#txtKey_xxtea_normal").val());
                            $.post("../Api.ashx",
                                { "type": "encrpty_new", "ctype": "en_xxtea_normal", "text": text, "key": key },
                                function (data) {
                                    $("#txtOutput_XXTEANormal").val(data.Result);
                                }
                           , "json");

                        } else if (type == "de_xxtea_normal") {
                            var text = encodeURI($("#txtInput_XXTEANormal").val());
                            var key = encodeURI($("#txtKey_xxtea_normal").val());
                            $.post("../Api.ashx",
                                { "type": "encrpty_new", "ctype": "de_xxtea_normal", "text": text, "key": key },
                                function (data) {
                                    $("#txtOutput_XXTEANormal").val(data.Result);
                                }
                           , "json");
                        } else if (type == "en_xxtea_normal2") {
                            var text = encodeURI($("#txtInput_XXTEANormal2").val());
                            var key = encodeURI($("#txtKey_xxtea_normal2").val());
                            $.post("../Api.ashx",
                                { "type": "encrpty_new", "ctype": "en_xxtea_normal2", "text": text, "key": key },
                                function (data) {
                                    $("#txtOutput_XXTEANormal2").val(data.Result);
                                }
                           , "json");

                        } else if (type == "de_xxtea_normal2") {
                            var text = encodeURI($("#txtInput_XXTEANormal2").val());
                            var key = encodeURI($("#txtKey_xxtea_normal2").val());
                            var isbase64 = $("#chkIsBase64")[0].checked ? "1" : "0";
                            $.post("../Api.ashx",
                                { "type": "encrpty_new", "ctype": "de_xxtea_normal2", "text": text, "key": key, "isbase64": isbase64 },
                                function (data) {
                                    $("#txtOutput_XXTEANormal2").val(data.Result);
                                }
                           , "json");
                        }
                    }

                    $(function () {
                        $('#btn_random_rsa_openssl').click(generateKeys);
                    });

                    var generateKeys = function () {
                        var sKeySize = $("#selectType").val();
                        var keySize = parseInt(sKeySize);
                        var crypt = new JSEncrypt({ default_key_size: keySize });
                        var dt = new Date();
                        var time = -(dt.getTime());
                        crypt.getKey();
                        dt = new Date();
                        time += (dt.getTime());
                        $('#txtKey_private_rsa_openssl').val(crypt.getPrivateKey());
                        $('#txtKey_public_rsa_openssl').val(crypt.getPublicKey());
                    };
                </script>
            </div>
        </div>
    </div>

    <!-- 站点地图&友情链接 -->
    <div id="sitemap"></div>

    <!-- Fotter -->
    <div id="fotter"></div>
</body>
</html>
