<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta name="description" content="C# 在线 编码/解码" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="我要调试,51调试,51debug,C#在线代码生成器" name="Keywords" />
    <meta name="description" content="51debug是程序员的好助手，帮助各种程序员进行快速开发，提高开发效率和分享代码库" />
    <title>我要调试 - 编码/解码</title>

    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="../js/bootstrap-3.3.0-dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- 可选的Bootstrap主题文件（一般不使用） -->
    <link href="../js/bootstrap-3.3.0-dist/css/bootstrap-theme.min.css" rel="stylesheet" />

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="../js/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="../js/bootstrap-3.3.0-dist/js/bootstrap.min.js"></script>

    <!-- 初始化界面js -->
    <script src="../js/load.js?20161108_2"></script>
</head>
<body>
    <!-- 导航 -->
    <div id="nav"></div>

    <div class="container">
        <h2>C#编码/解码
        </h2>
        <div class="row">
            <p>
            </p>
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">编码/解码
                        </h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            <textarea id="txtText" class="form-control" rows="8"></textarea>
                        </p>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <div class="col-sm-2 text-left">
                                    <select id="selType" class="form-control input-sm">
                                        <option value="utf-8">UTF-8</option>
                                        <option value="gb2312">GB2312</option>
                                        <option value="gbk">GBK</option>
                                        <option value="unicode">UniCode</option>
                                    </select>
                                </div>
                                <div class="col-sm-1 text-center">
                                    <button onclick="dosubmit(0);" type="button" class="btn btn-default">URL编码</button>
                                </div>
                                <div class="col-sm-1 text-center">
                                    <button onclick="dosubmit(1);" type="button" class="btn btn-default">URL解码</button>
                                </div>
                                <div class="col-sm-1 text-center">
                                    <button onclick="dosubmit(2);" type="button" class="btn btn-default">\u编码</button>
                                </div>
                                <div class="col-sm-1 text-center">
                                    <button onclick="dosubmit(3);" type="button" class="btn btn-default">\u解码</button>
                                </div>
                                <div class="col-sm-1 text-center">
                                    <button onclick="dosubmit(4);" type="button" class="btn btn-default">%f编码</button>
                                </div>
                                <div class="col-sm-1 text-center">
                                    <button onclick="dosubmit(5);" type="button" class="btn btn-default">%f解码</button>
                                </div>
                                <div class="col-sm-2 text-center">
                                    <button onclick="dosubmit(6);" type="button" class="btn btn-default">base64编码</button>
                                </div>
                                <div class="col-sm-2 text-center">
                                    <button onclick="dosubmit(7);" type="button" class="btn btn-default">base64解码</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <script type="text/javascript">
                    function dosubmit(type) {
                        var selType = $("#selType").val();
                        var text = encodeURI($("#txtText").val());
                        $.post("../Api.ashx",
                            { "type": "encode", "ctype": type, "text": text, "seltype": selType },
                            function (data) {
                                $("#txtResult").val(data.Result);
                            }
                       , "json");
                    }
                </script>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">结果
                        </h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            <textarea id="txtResult" class="form-control" rows="8"></textarea>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 站点地图&友情链接 -->
    <div id="sitemap"></div>

    <!-- Fotter -->
    <div id="fotter"></div>
</body>
</html>
