<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta name="description" content="C# 在线 新发现" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="我要调试,51调试,51debug,C#在线代码生成器" name="Keywords" />
    <meta name="description" content="51debug是程序员的好助手，帮助各种程序员进行快速开发，提高开发效率和分享代码库" />
    <title>我要调试 - C#新发现</title>

    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="../js/bootstrap-3.3.0-dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- 可选的Bootstrap主题文件（一般不使用） -->
    <link href="../js/bootstrap-3.3.0-dist/css/bootstrap-theme.min.css" rel="stylesheet" />

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="../js/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="../js/bootstrap-3.3.0-dist/js/bootstrap.min.js"></script>

    <!-- 初始化界面js -->
    <script src="../js/load.js?20161108_2"></script>
</head>
<body>
    <!-- 导航 -->
    <div id="nav"></div>

    <div class="container">
        <h2>C#新发现
        </h2>
        <div class="row">
            <p>
            </p>
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">C#新发现</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">CefSharp</li>
                            <li class="list-group-item">Roslyn</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 站点地图&友情链接 -->
    <div id="sitemap"></div>

    <!-- Fotter -->
    <div id="fotter"></div>
</body>
</html>